body{
  font-family: URW Chancery L, cursive;
  color: #000000;
  background: url(img/fon4.jpeg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
img{
  text-align: center;
}
h1{
  color: red;
}
a{
  text-decoration: none;
}
.page{
  font-family: URW Chancery L, cursive;
  font-size: 20px;
  line-height: normal;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  color: #4B0082;
  white-space: pre-wrap;
  border-left: 1000px;
  padding-left: 1100px;
  padding-right: 40px;
}

nav li{
  display: inline-block;
  padding: 20px;
}
footer li{
  display: inline-block;
  padding: 10px;
}
footer{
  position: fixed;
  left: 0;
  bottom: 0;
}
main li{
  background:    #e86ed0;
  background:    linear-gradient(#b1e8ed, #edb5f5);
  border-radius: 25px;
  padding: 20px;
  width: 200px;
  margin: 30px;
  margin-left: 20%;
  color:         #ffffff;
  font:          normal bold 20px/1 URW Chancery L,  cursive;
  text-align:    justify;
  text-shadow:   1px 1px #000000;
}
.center{
  margin-left: 1000px;
  text-decoration: none;
}
.right{
  position: fixed;
  right: 0;
  bottom: 0;
  padding: 10px;
}
